$treeColor: #b7ca88;
$treeColor2: #50593c;
$treeColor3: #537a00;


.feature {
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .feature-box {
        width: 130px;
        text-align: center;
        padding: 10px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1.5px;
        border-style: solid;
        border-color: #dcdcdc;
        border-radius: 4px;
        margin: 15px 35px;
        transition: 0.2s ease;

        &:hover {
            box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
        }

        h6 {
            padding: 7px 8px;
            font-size: 16px;
            border-radius: 4px;
            color: snow;
            background-color: $treeColor2;
        }



        &:nth-child(2) h6 {
            background-color: $treeColor;
        }

        &:nth-child(3) h6 {
            background-color: $treeColor3;
        }

        &:nth-child(4) h6 {
            background-color: $treeColor;
        }

        &:nth-child(5) h6 {
            background-color: $treeColor3;
        }



        &:nth-child(6) h6 {
            background-color: $treeColor2;
        }


        svg {
            color: $treeColor2;
            margin-top: 30px;
            width: 60px;
            height: 50px;
        }
    }
}


@media(max-width:766px) {

    .feature {
        display: flex;
        justify-content: center;
        align-items: center;

        .feature-box {
            width: 130px;
            padding: 10px 15px;
        }
    }
}